################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApiCommonComponents/.vs/ApiCommonComponents/v16
/ApiCommonComponents/obj
/ApiCommonComponents/bin/Debug/netstandard2.0
/TestApi/bin/Debug/netcoreapp3.1
/TestApi/obj
